/* Minification failed. Returning unminified contents.
(6,63): run-time error CSS1062: Expected semicolon or closing curly-brace, found ':'
(104,54): run-time error CSS1036: Expected expression, found ';'
 */
#EntryTag { margin-top: 20px; font-size: 12px; color: gray; }
.topicListFooter { text-align: right; margin-right: 10px; margin-top: 10px; }
#divRefreshComments { text-align: right; margin-right: 10px; margin-bottom: 5px; font-size: 12px; }
* { margin: 0; padding: 0; }
html { height: 100%; }
body { color: #000; background: #fff; font-family: font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9pt; min-height: 101%; background: url('/Skins/LoveIsIntheAir/images/bg_body.gif') repeat-x top left; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
ul { }
li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a:link { color: #000; text-decoration: none; }
a:visited { color: #000; text-decoration: none; }
a:hover { color: #f33; text-decoration: underline; }
a:active { color: #000; text-decoration: none; }
.clear { clear: both; }
#home { margin: 0 auto; width: 1002px; text-align: left; }
#header { height: 232px; background: url('/Skins/LoveIsIntheAir/images/banner.gif') no-repeat top center; padding-bottom: 5px; }
#blogTitle { height: 232px; clear: both; position: relative; }
#blogTitle h1 { font-size: 26px; font-weight: bold; line-height: 1.5em; float: left; position: absolute; left: 20px; top: 65px; }
#blogTitle h2 { line-height: 1.5em; float: left; text-align: right; color: #816d65; position: absolute; top: 110px; left: 25px; }
#blogTitle a { color: #816d65; }
#blogLogo { float: right; }
#navigator { height: 20px; clear: both; }
#navList { height: 25px; min-height: 25px; float: left; }
#navList li { float: left; }
#navList a { display: block; width: 5em; height: 19px; _height: 24px; float: left; text-align: center; padding-top: 5px; border-right: 1px solid #ccc; }
#navList a:link, #navList a:visited, #navList a:active { color: #fff; }
#navList a:hover { color: #fff; background-color: #f33; text-decoration: none; }
a.aHeaderXML { background: transparent url('/Skins/LoveIsIntheAir/images/rss.gif') no-repeat center center; }
a.aHeaderXML img { display: none; }
.blogStats { float: right; color: #fff; margin-top: 5px; margin-right: 2px; text-align: right; }
#topicList { width: 740px; min-height: 200px; padding: 10px 0 10px 10px; margin-top: 10px; float: left; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; word-break: break-all; }
.day { min-height: 10px; _height: 10px; margin-bottom: 15px; padding-bottom: 5px; }
.dayTitle { width: 740px; min-height: 25px; _height: 25px; font-weight: bold; color: #666; font-size: 14px; border-bottom: 1px solid #000; margin-bottom: 5px; color: #816d65; }
.dayTitle a:link, .dayTitle a:visited, .dayTitle a:active { color: #816d65; }
.postTitle { font-weight: bold; line-height: 1.5em; width: 740px; font-size: 14px; min-height: 25px; _height: 25px; }
.postTitle a:link, .postTitle a:visited, .postTitle a:active { color: #444; }
.postTitle a:hover { color: #f60; text-decoration: none; }
.postCon { line-height: 1.5em; width: 740px; padding: 10px 0; font-size: 14px; }
.postDesc { float: right; width: 500px; text-align: right; padding-right: 5px; color: #333; margin-top: 5px; }
.postDesc a:link, .postDesc a:visited, .postDesc a:active { color: #816d65; }
.postDesc a:hover { color: #82ceeb; text-decoration: underline; }
.postSeparator { clear: both; height: 20px; margin: 0 auto 15px auto; border-bottom: 1px dashed #666; }
#sideBar { width: 230px; _width: 234px; min-height: 200px; padding: 10px 10px 5px 0; float: right; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; word-break: break-all; }
.newsItem .catListTitle { display: none; }
.newsItem { padding: 0 0 5px 0; margin-bottom: 8px; line-height: 170%; }
#calendar { width: 229px; }
#calendar .Cal { width: 100%; line-height: 1.5em; }
#calendar td, #calendar th { font-size: 12px; }
.Cal { border: 0 solid #000; color: #816d65; }
.CalTitle { background: #fff; color: #82ceeb; font-weight: bold; height: 30px; text-align: center; width: 100%; }
.CalDayHeader { background: url('/Skins/LoveIsIntheAir/images/bg_cal_day.gif') 50% 0 no-repeat; color: #fff; padding-bottom: 5px; }
.CalNextPrev a:link, .CalNextPrev a:visited, .CalNextPrev a:active { font-weight: bold; background-color: #fff; }
.CalNextPrev a:hover { font-weight: bold; background-color: #82ceeb; color: #fff; }
#calendar table a:link, #calendar table a:visited, #calendar table a:active { font-weight: bold; color: #74584b; }
#calendar table a:hover { color: #fff; text-decoration: none; background-color: #82ceeb; }
.CalWeekendDay { background: #e9f7fa; }
.CalTodayDay { background: url('/Skins/LoveIsIntheAir/images/bg_cal_today.gif') 50% 0 no-repeat; color: #fff; }
.catListTitle { font-weight: bold; min-height: 40px; *height: 40px; line-height: 40px; text-align: left; margin-top: 10px; margin-bottom: 10px; background: url('/Skins/LoveIsIntheAir/images/bg_li.gif') left center no-repeat; padding-left: 35px; color: #82ceeb; font-size: 20px; }
#leftcontentcontainer li { font-size: 14px; line-height: 1.8em; }
#leftcontentcontainer a { color: #816d65; }
.catListComment { line-height: 1.5em; }
.divRecentComment { color: #666; }
#sideBarMain ul { line-height: 1.5em; }
#topics { -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; word-break: break-all; }
#topics .postTitle { font-size: 18px; font-weight: bold; border-bottom: 1px solid #999; float: left; line-height: 1.5em; width: 100%; padding-left: 5px; margin-bottom: 10px; }
a.postTitle2 { color: #000; }
a.postTitle2:hover { color: #f33; }
.postBody { padding: 5px 2px 5px 5px; line-height: 1.6; color: #000; font-size: 14px; }
.postBody a:link, .postBody a:active, .postBody a:visited { color: #000; text-decoration: underline; }
.postBody a:hover { color: #f33; }
#EntryTag { font-size: 9pt; color: #666; }
#EntryTag a { margin-left: 5px; }
#EntryTag a:link, #EntryTag a:visited, #EntryTag a:active { color: #666; }
#EntryTag a:hover { color: #f60; }
#topics .postDesc { float: right; width: 100%; text-align: right; padding-right: 5px; color: #666; margin-top: 5px; }
.feedback_area_title { font-weight: bold; margin-top: 20px; padding-bottom: 5px; border-bottom: 1px solid #333; margin-bottom: 10px; padding-left: 8px; font-size: 14px; }
.feedbackListSubtitle { color: #666; }
.feedbackListSubtitle a:link, .feedbackListSubtitle a:visited, .feedbackListSubtitle a:active { color: #37b1df; font-weight: normal; }
.feedbackListSubtitle a:hover { color: #f33; text-decoration: none; }
.feedbackManage { width: 200px; text-align: right; float: right; }
.feedbackManage a:link, .feedbackManage a:visited, .feedbackManage a:active { color: #333; }
.feedbackCon { border-bottom: 1px solid #ccc; background: url('/Skins/LoveIsIntheAir/images/comment.gif') no-repeat 5px 0; padding: 15px 18px 10px 40px; min-height: 35px; _height: 35px; margin-bottom: 1em; line-height: 1.5em; }
#divRefreshComments { text-align: right; margin-bottom: 10px; }
.commenttb { width: 320px; }
#AjaxHolder_PostComment_divCommnentArea td { font-size: 12px; padding: 3px; }
#AjaxHolder_PostComment_divCommnentArea a:link, #AjaxHolder_PostComment_divCommnentArea a:visited, #AjaxHolder_PostComment_divCommnentArea a:active { color: #816d65; }
.entrylistTitle { font-size: 16px; font-weight: bold; border-bottom: 1px solid #000; text-align: left; padding-bottom: 3px; padding-right: 10px; }
.entrylistDescription { color: #666; text-align: left; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; margin-bottom: 10px; }
.entrylistItem { min-height: 20px; _height: 20px; margin-bottom: 30px; padding-bottom: 5px; width: 100%; }
.entrylistPosttitle { font-size: 11pt; font-weight: bold; border-bottom: 1px dashed #816d65; line-height: 1.5em; width: 100%; padding-left: 5px; }
.entrylistPosttitle a:hover { text-decoration: none; }
.entrylistPostSummary { margin-top: 5px; padding-left: 5px; margin-bottom: 5px; font-size: 14px; line-height: 150%; }
.entrylistItemPostDesc { text-align: right; color: #666; }
.entrylistItemPostDesc a:link, .entrylistItemPostDesc a:visited, .entrylistItemPostDesc a:active { color: #666; }
.entrylistItemPostDesc a:hover { color: #f60; }
.entrylist .postSeparator { clear: both; width: 100%; font-size: 0; line-height: 0; margin: 0; padding: 0; height: 0; border: none; }
.PostListTitle { font-size: 11pt; font-weight: bold; border-bottom: 1px solid #000; text-align: right; padding-bottom: 3px; padding-right: 10px; }
h1.PostListTitle { text-align: left; font-size: 18px; }
.pager { text-align: right; margin-right: 10px; }
.PostList { border-bottom: 1px solid #ccc; clear: both; min-height: 1.5em; _height: 1.5em; padding-top: 10px; padding-left: 5px; padding-right: 5px; margin-bottom: 5px; }
.postTitl2 { float: left; font-size: 14px; line-height: 150%; }
.postDesc2 { color: #666; float: right; margin-right:; }
.postText2 { clear: both; color: #666; line-height: 150%; }
#profile a, #profile a:link, #profile a:active, #profile a:visited { color: #816d65; }
.pfl_feedback_area_title { text-align: right; line-height: 1.5em; font-weight: bold; border-bottom: 1px solid #666; margin-bottom: 10px; }
.pfl_feedbackItem { border-bottom: 1px solid #000; margin-bottom: 20px; }
.pfl_feedbacksubtitle { width: 100%; border-bottom: 1px dotted #666; height: 1.5em; font-size: 14px; }
.pfl_feedbackname { float: left; }
.pfl_feedbackManage { float: right; }
.pfl_feedbackCon { color: #000; padding-top: 5px; padding-bottom: 5px; line-height: 150%; }
.pfl_feedbackAnswer { color: #816d65; line-height: 150%; margin-bottom: 10px; }
.tdSentMessage { text-align: right; }
.errorMessage { width: 300px; float: left; }
.mySearch #q { }
.divPhoto { border: 1px solid #ccc; padding: 2px; margin-right: 10px; }
.thumbTitle { font-size: 16px; font-weight: bold; border-bottom: 1px solid #000; text-align: left; padding-bottom: 3px; padding-right: 10px; }
.thumbDescription { color: #666; text-align: left; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; margin-bottom: 10px; }
#footer { text-align: center; min-height: 15px; _height: 15px; border-top: 1px solid #000; margin-top: 10px; padding-top: 10px; margin-bottom: 20px; }
.personInfo { margin-bottom: 20px; }
.pages { text-align: right; }
.postBody p, .postCon p { margin: 5px auto 5px auto; }
.postBody h2 { font-size: 150%; margin: 15px auto 2px auto; font-weight: bold; }
.postBody h3 { font-size: 120%; margin: 15px auto 2px auto; font-weight: bold; }
.postBody h4 { font-size: 110%; margin: 15px auto 2px auto; font-weight: bold; color: #333; }
.postBody h5 { font-size: 100%; margin: 15px auto 2px auto; font-weight: bold; color: #333; }
.postBody a:link, .postBody a:visited, .postBody a:active { text-decoration: underline; }
.postCon a:link, .postCon a:visited, .postCon a:active { text-decoration: underline; }
.postBody ul, .postCon ul { margin-left: 2em; }
.postBody li, .postCon li { list-style-type: disc; margin-bottom: 1em; }
.blog_comment_body a:link,
.blog_comment_body a:visited,
.blog_comment_body a:active{
    text-decoration: underline;
}

#thumbnails .divPhoto {
	display: inline-flex;
	margin-bottom: 10px;	
}

#thumbnails .divPhoto img{
	max-width: 300px;
}
